<div class='container'>
    <h3>New Expense</h3>

    <%= render 'form', expense: @expense %>

    <%= link_to 'Cancelar', expenses_path, class: "btn waves-effect waves-light grey right cancel"  %>
</div>